{% extends "index.html" %}
{% load staticfiles %}

{% block content %}
<div class="row featurette">
    <div class="col-md-12">       
        <h1 style="color:#6495ed;">Continued Analysis</h1>
        <p class="lead" style="color:#636363;">In general, both are poorly correlated, but surprisingly income is more positively correlated with energy usage per square footage in commercial and residential buildings. This could be due to two scenarios. The first being that most residential buildings in a large city also tend to have commercial enterprises as well though they are primarily residential. The second scenario that would lead to such high energy usage per person in residential buildings could also be increased general usage of electricity by the building in common areas. The most likley case is the first one, but a more detailed description of each building would be required.</p>
    </div>
</div>
{% endblock %}