{% extends 'base.html' %}
{% block content %}

  <div class="container marketing">
	  <div class="row featurette" style="margin-top: 60px">
	    <div class="col-md-12">
	      <h2 class="featurette-heading" style="color:#191970" align="center">Eco-Chicago Energy Map</h2>
	      <p class="lead"> The map below gives and overview of the Chicago neighborhoods and the average kWh/sqft for 2010. To learn more about the data, check out <a href="/explore">explore</a></p>
	    </div> 	
	  <div class="chi" style="margin-top: 150px" align="center">
	  </div><script src="{{url_for('static', filename='chimap.js')}}" type="text/javascript"> </script>
	</div>
  </div>

{% endblock %}