{% extends 'base.html' %}
{% block content %}

      <div class="jumbotron" style="background-image: url({{url_for('static', filename='Chicago_skyline.jpg')}}); background-size: cover; height: 600px">
        <div class="container" style="margin-top: 40px">
          <h1 style="color:#e8e8e8;" align="center"><strong>ECO-CHICAGO</strong></h1>
        </div>
      </div>  

    <div class="container marketing">
      <div class="row featurette" style="margin-top: 50px">
        <div class="col-md-7">
          <h2 class="featurette-heading" style="color:#191970">Welcome to Eco-Chicago!</h2>
          <p class="lead">In Eco-Chicago, you can look up the predicted energy usage of your building compared to the minimum energy usage for similar buildings. You also have the option to instead explore data yourself. Or to start, check out the <a href="/energymap">energy map</a>, an overview of energy use in the different neighborhoods in Chicago. </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Flag_of_Chicago,_Illinois.svg/2000px-Flag_of_Chicago,_Illinois.svg.png" alt="Chicago Flag">
        </div>
      </div>

      
      <div class="row featurette" style="margin-top: 50px">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading" style="color:#191970">How do you match up to your competition?</h2>
          <p class="lead">By implementing machine learning using an elastic net regression, my <a href="/comparison">comparison calculator</a> provides the average, minimum, and maxmimum energy use based on location and features of the bulding. You can see how much you would save if you were as efficient as similar buildings that use the least amount of energy.</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="https://upload.wikimedia.org/wikipedia/commons/6/67/Change_In_Hand.jpg" alt="money">
        </div>
      </div>


      <div class="row featurette" style="margin-top: 50px">
        <div class="col-md-7">
          <h2 class="featurette-heading" style="color:#191970">Curious about the data set?</h2>
          <p class="lead"> Check out <a href="/explore">explore</a>. You can choose among a number of features to compare the data and observe the trends yourself. I have subselected features that are useful or interesting that you can choose from to play around with the data. Click around and enjoy!</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="{{url_for('static', filename='figure_6.png')}}" alt="Graph" style = "height:400px">
        </div>
      </div>              
    </div>  
{% endblock %}