{% extends 'base.html' %}
{% block content %}

      <div class="jumbotron" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/c/c4/Chicago_skyline,_viewed_from_John_Hancock_Center.jpg); background-size: cover; height: 600px">
        <div class="container" style="margin-top: 150px">
          <h1 style="color:#e8e8e8;" align="center"><strong>ECO-CHICAGO</strong></h1>
          <div class="row featurette"; style="margin-top: 100px">
            <h1 style="color:#e8e8e8;" align="center" style="margin-top: 100px">Projecting Energy Use to Assess Restrictions for a Sustainable Future</h1>
          </div>  
        </div>
      </div>  

      <div class="container marketing">
        <div class="row featurette">
          <div class="col-md-4">
            <h2 class="featurette-heading" style="color:#191970" align="center">Residential</h2>
            <h3 class="featurette-heading" align="center" style="color:#191970">8,520,220,584 kWh/Year</h3>
          </div>
          <div class="col-md-4">
            <h2 class="featurette-heading" style="color:#191970" align="center">Commercial</h2>
            <h3 class="featurette-heading" align="center" style="color:#191970">5,712,004,990 kWh/Year</h3>
          </div>
          <div class="col-md-4">
            <h2 class="featurette-heading" style="color:#191970" align="center">Industrial</h2>
            <h3 class="featurette-heading" align="center" style="color:#191970"> 235,111,127 kWh/Year</h3>
          </div>          
          <div class="row featurette">
            <div class="col-md-12"; style="margin-top: 80px">   
              <h3 class="featurette-heading" style="color:#191970;">Welcome to Eco-Chicago! This site aims to project energy use for different types of buildings in Chicago to determine new limits for Green Energy Permits. Green Energy Permits incentivize constructing new buldings that include energy efficient and renewable energy features. To assure that Chicago is at the forefront of energy benchmarks to alleviate global climate change, it is necessary to detemine proper standards to reach these goals for 2020.</h3>
            </div> 
            <div class="col-md-12"; style="margin-top: 50px">   
              <h3 class="featurette-heading" style="color:#191970;">Check out the pages for the different types of buldings to learn more.</h3>
            </div>                  
          </div> 
        </div>                   
      </div>  
{% endblock %}