{% extends 'base.html' %}
{% block content %}

 <div class="container marketing">
	<div class="row featurette" style="margin-top: 70px">
	    <div class="col-md-12">
	      <h2 class="featurette-heading" style="color:#191970" align="center">How It's Done</h2>
	      <p class="lead" > My method had three main parts:</p>
	      <p class="lead" > 1. Exploratory Graphical Analysis</p>
	      <p class="lead" > 2. Feature Selection</p>
	      <p class="lead" > 3. Feature Selection</p>
	    </div>
    </div>  
 </div> 

{% endblock %}